.NewListItem {
    position: relative;
    max-width: 540px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 0 -1px gray;
}

.NewListItem, input {
    outline: none;
    border: none;
    /*box-shadow: 0 2px 0 -1px gray;*/
}


.NewListItem, input, textarea {
    background-color: #15202B;
    color: white;
}

.NewListItem button {
    cursor: pointer;
    background-color: #15202B;
    width: 150px;
    height: 50px;
    margin-right: -102.5px;
    color: white;
    border: none;
    border-left: solid 1px #8899A6;
}